/*  your css code here. If applicable */
.table {
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}

.table thead {
	border-bottom: 2px solid black;
}

.table tbody tr {
	border-bottom: 1px solid lightgray;
	background-color: #f5f5f5;
}

.table tbody button {
	color: white;
	background-color: red;
}




